html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    color: white;
    text-decoration-line: none;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
    font-family: sans-serif;
}

html, body {
  background-color: black;
  height: 100%;
}

/* Container for note boxes */
#simon {
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* Note box elements */
.note-box {
  width: 100pt;
  height: 100pt;
  margin: 0 10pt;
  border-width: 2pt;
  cursor: pointer;
}

/* Per-note styles */
#c {
    background-color: rgba(238, 0, 55, 0.4);
    border: 3px solid rgba(238, 0, 55, 1);
}

#c.active {
  background-color: rgba(238, 0, 55, 1);
}

#c.active:hover {
  background-color: rgba(238, 0, 55, 1);
}

#c:hover {
  background-color: rgba(238, 0, 55, 0.6);
}

#d {
    background-color: rgba(255, 176, 0, 0.4);
    border: 3px solid rgba(255, 176, 0, 1);
}

#d.active {
  background-color: rgba(255, 176, 0, 1);
}

#d.active:hover {
  background-color: rgba(255, 176, 0, 1);
}

#d:hover {
  background-color: rgba(255, 176, 0, 0.6);
}

#e {
    background-color: rgba(17, 57, 187, 0.4);
    border: 3px solid rgba(17, 57, 187, 1);
}

#e.active {
  background-color: rgba(17, 57, 187, 1);
}

#e.active:hover {
  background-color: rgba(17, 57, 187, 1);
}

#e:hover {
  background-color: rgba(17, 57, 187, 0.6);
}

#f {
    background-color: rgba(85, 229, 0, 0.4);
    border: 3px solid rgba(85, 229, 0, 1);
}

#f.active {
  background-color: rgba(85, 229, 0, 1);
}

#f.active:hover {
  background-color: rgba(85, 229, 0, 1);
}

#f:hover {
  background-color: rgba(85, 229, 0, 0.6);
}

button {
    width: 100%;
    height: 2.5em;
    font-size: 2.5em;
}

.blue {
    color: white;
    background-color: #0063A8;
    transition: background-color 0.1s linear; /* vendorless fallback */
    -o-transition: background-color 0.1s linear; /* opera */
    -ms-transition: background-color 0.1s linear; /* IE 10 */
    -moz-transition: background-color 0.1s linear; /* Firefox */
    -webkit-transition: background-color 0.1s linear; /*safari and chrome */
    cursor: pointer;
}
.blue:hover {
    background-color: #005491;
}

h1 {
    font-size: 3em;
    text-align: center;
}

#youDied {
    position: fixed;
    top: 34.6753246753%; /* (50 - img.height/img.width * 100%)% */
    width: 100%;
    opacity: 0;
    z-index: -1;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 8s;
}

#screenBlocker {
    position: fixed;
    top: 0px;
    opacity: 0;
    z-index: -1;
    height: 100%;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}